.spacer-block {
    $min-value: var(--spacer-height-mobile);
    $max-value: var(--spacer-height-desktop);
    $min-max-value: var(--spacer-min-max-height);
    $min-vw: map-get($grid-breakpoints, xs);
    $max-vw: map-get($grid-breakpoints, xl);

    height: #{$min-value};

    @media screen and (min-width: $min-vw) {
        height: calc(#{$min-value} + #{$min-max-value} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }

    @media screen and (min-width: $max-vw) {
        height: #{$max-value};
    }
}
