.text-image-block {
    &__image-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: -0.625rem;

        a {
            display: none;
            padding: 0.625rem;
            box-shadow: none;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &[data-image-count="1"] {
            a {
                &:nth-child(1) {
                    display: inline;
                    width: 100%;
                }
            }
        }

        &[data-image-count="2"] {
            a {
                &:nth-child(1),
                &:nth-child(2) {
                    display: inline;
                    width: 50%;
                }
            }
        }

        &[data-image-count="3"] {
            a {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    display: inline;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: 50%;
                }
            }
        }

        &[data-image-count="4"] {
            a {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    display: inline;
                    width: 50%;
                }
            }
        }
    }
}
