.text-image-block {
    &__image-wrapper {
        display: flex;
        flex-wrap: wrap;
        //margin: -0.625rem;
        margin: calc(var(--custom-gutter-mobile-y) * -.3) calc(var(--custom-gutter-mobile-x) * -.3);

        a {
            display: none;
            padding: calc(var(--custom-gutter-mobile-y) * .3) calc(var(--custom-gutter-mobile-x) * .3);
            width: 100%;
        }

        @include media-breakpoint-up(sm) {
            margin: calc(var(--custom-gutter-desktop-y) * -.3) calc(var(--custom-gutter-desktop-x) * -.3);

            a {
                padding: calc(var(--custom-gutter-desktop-y) * .3) calc(var(--custom-gutter-desktop-x) * .3);
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &[data-image-count="1"] {
            a {
                &:nth-child(1) {
                    display: inline;
                    width: 100%;
                }
            }
        }

        &[data-image-count="2"] {
            a {
                &:nth-child(1),
                &:nth-child(2) {
                    display: inline;
                    width: 50%;
                }
            }
        }

        &[data-image-count="3"] {
            a {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    display: inline;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: 50%;
                }
            }
        }

        &[data-image-count="4"] {
            a {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    display: inline;
                    width: 50%;
                }
            }
        }
    }
}
