.text-image-block {

    &__text-column {
        display: flex;
        align-items: center;

        &:last-child {
            @include media-breakpoint-down(sm) {
                margin-top: 30px;
            }

            .text-image-block__text-column-inner {
                padding-right: 0;
            }
        }

        &:first-child {
            .text-image-block__text-column-inner {
                padding-left: 0;
            }
        }
    }

    &__text-column-inner {
        width: 100%;
        height: 100%;

        @include media-breakpoint-up(xxl) {
            padding: 20px 40px;
        }

        &.has-colored-background {
            padding: 40px;

            @include media-breakpoint-down(xl) {
                padding: 20px;
            }
        }

        @include media-breakpoint-down(xxs) {
            &.has-colored-background {
                padding: 20px 20px 0 20px;
            }
        }
    }

    &__row {
        @include media-breakpoint-up(xxl) {
            min-height: 400px;
        }
    }

    &__image-column {

        &.ratio-16-9 {
            height: 100%;

            .text-image-block__image-wrapper {
                width: 100%;
                padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
                min-height: initial;
            }
        }

        &.ratio-3-2 {
            height: 100%;

            .text-image-block__image-wrapper {
                width: 100%;
                padding-top: 66.66%; /* 3:2 Aspect Ratio (divide 2 by 3 = 0.6666)  */
                min-height: initial;
            }
        }

        &.ratio-4-3 {
            height: 100%;

            .text-image-block__image-wrapper {
                width: 100%;
                padding-top: 75%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
                min-height: initial;
            }
        }

        &.ratio-1-1 {
            height: 100%;

            .text-image-block__image-wrapper {
                width: 100%;
                padding-top: 100%; /* 1:1 Aspect Ratio */
                min-height: initial;
            }
        }
    }

    &__image-wrapper {
        position: relative;
        height: 100%;
        min-height: 300px;

        img {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;

            object-fit: cover;
            object-position: center;
            font-family: 'object-fit: cover; object-position: center;';
        }
    }

    &__image-wrapper-button {
        position: absolute;
        bottom: 0;
        margin: 20px;
        z-index: 10;
    }

    @include media-breakpoint-down(lg) {

        // Editor!!
        [data-type="custom/column"] {
            width: 100% !important;
        }

        .column-block {
            width: 100% !important;
        }
    }
}
