@import "~bootstrap/scss/functions";

// scss-docs-start font-variables
$font-size-base: 1rem;

$h1-font-size: $font-size-base * 3.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
// scss-docs-end font-variables
