@import "~bootstrap/scss/functions";

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
    xxs: 0,
    xs: 375px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
// scss-docs-end grid-breakpoints

// scss-docs-start font-variables
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3.5;
$h2-font-size: $font-size-base * 2.75;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
// scss-docs-end font-variables

// scss-docs-start headings-variables
$headings-font-weight: 400;
// scss-docs-end headings-variables

// RFS - Responsive Font Sizes
// https://getbootstrap.com/docs/5.0/getting-started/rfs/
// scss/vendor/_rfs.scss
$rfs-base-value: 1.25rem; // default: 1.25rem
$rfs-factor: 10; // default: 10
$rfs-breakpoint: 1200px; // default: 1200px
