@import "~bootstrap/scss/functions";

// scss-docs-start spacer-variables-maps
$spacer: 1em;

// scss-docs-start font-variables
$font-size-base: 1em;

// scss-docs-start nav-variables
$nav-link-padding-y: .5em;
