html {
    font-size: var(--custom-font-size);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: rgb(var(--custom-font-color));
    background-color: rgb(var(--custom-body-background-color));
    font-weight: var(--custom-font-weight);
    font-family: var(--custom-text-font-family);
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.xdebug-var-dump {
    z-index: 1000;
    background-color: #000;
    border-radius: 6px;
    margin: 20px;
    padding: 10px;
    max-width: calc(100vw - 40px);
    display: none;
    color: #FFF;
}

.xdebug-wrapper {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;

    .xdebug-var-dump {
        display: inline-block;
        max-height: 530px;
    }
}

a {
    color: rgb(var(--custom-link-color));
    position: relative;
    z-index: 20;
    word-break: break-word;

    &:hover {
        color: rgb(var(--custom-link-hover-color));
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--custom-headline-font-family);
    font-weight: var(--custom-headline-weight);
    position: relative;
    z-index: 10;
}

b, strong {
    font-weight: 600;
}

p {
    position: relative;
    z-index: 10;

    &:empty {
        display: none;
    }
}

img {
    z-index: 0; // Let Images be always behind text
    max-width: initial;
}

.edit-post-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(var(--custom-body-background-color));
    border-radius: 50%;
    box-shadow: var(--custom-box-shadow);
    color: rgb(var(--custom-font-color));
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 0.875em;
    z-index: 2000000;

    &:hover {
        color: rgb(var(--custom-font-color));
    }
}

.screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal !important;
}

.has-text-align-center {
    text-align: center;
}

.has-text-align-right {
    text-align: right;
}

.has-style {
    &-shadow {
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    &-no-list {
        list-style: none;
        padding: 0;
    }
}

.has-font-size {
    &-tiny {
        @include font-size($h6-font-size);
    }

    &-small {
        @include font-size($h5-font-size);
    }

    &-normal {
        @include font-size($h4-font-size);
    }

    &-medium {
        @include font-size($h3-font-size);
    }

    &-large {
        @include font-size($h2-font-size);
    }

    &-huge {
        @include font-size($h1-font-size);
    }
}

.light-span {
    font-weight: 300;
}

.align {
    &-left {
        margin-right: auto;
        margin-left: initial;
    }

    &-center {
        margin-right: auto;
        margin-left: auto;
    }

    &-right {
        margin-left: auto;
        margin-right: initial;
    }
}

.is-vertically-aligned {
    &-top {
        align-self: flex-start;
    }

    &-center {
        align-self: center;
    }

    &-bottom {
        align-self: flex-end;
    }
}

/**
 * Define container padding
 */
.container {
    max-width: calc(var(--max-container-width) + (var(--container-padding-mobile) * 2));
    padding-left: var(--container-padding-mobile);
    padding-right: var(--container-padding-mobile);

    @include media-breakpoint-up(md) {
        max-width: calc(var(--max-container-width) + (var(--container-padding-desktop) * 2));
        padding-left: var(--container-padding-desktop);
        padding-right: var(--container-padding-desktop);
    }

    @include media-breakpoint-up(sm) {
        max-width: calc(var(--max-container-width) + (var(--container-padding-desktop) * 2));
        padding-left: var(--container-padding-desktop);
        padding-right: var(--container-padding-desktop);
    }
}

.container-fluid {
    padding-left: var(--container-padding-mobile);
    padding-right: var(--container-padding-mobile);

    @include media-breakpoint-up(sm) {
        padding-left: var(--container-padding-desktop);
        padding-right: var(--container-padding-desktop);
    }
}

/**
 * Define grid gutter classes
 */
.col-padding {
    padding-right: calc(var(--custom-gutter-desktop) * .5);
    padding-left: calc(var(--custom-gutter-desktop) * .5);

    @include media-breakpoint-down(md) {
        padding-right: calc(var(--custom-gutter-mobile) * .5);
        padding-left: calc(var(--custom-gutter-mobile) * .5);
    }
}

.row-margin {
    margin-right: calc(var(--custom-gutter-desktop) * -.5);
    margin-left: calc(var(--custom-gutter-desktop) * -.5);

    @include media-breakpoint-down(md) {
        margin-right: calc(var(--custom-gutter-mobile) * -.5);
        margin-left: calc(var(--custom-gutter-mobile) * -.5);
    }
}

/**
 * Override bootstrap 5 gutter classes
 */
.row {
    margin-top: calc(var(--custom-gutter-desktop) * -1);
    @extend .row-margin;

    > * {
        margin-top: var(--custom-gutter-desktop);
        @extend .col-padding;
    }

    @include media-breakpoint-down(md) {
        margin-top: calc(var(--custom-gutter-mobile) * -1);

        > * {
            margin-top: var(--custom-gutter-mobile);
        }
    }
}

// Customizer Classes
.custom-border {
    padding: var(--custom-border-width);
}

.custom-border-radius {
    border-radius: var(--custom-border-radius);
}

.custom-shadow {
    box-shadow: var(--custom-box-shadow);
}

/**
 * Remember to add recaptcha gdpr notice
 * @link https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed
 */
.grecaptcha-badge {
    visibility: hidden;
}

/**
 * Main content top position
 */

$navbar-top-position: var(--custom-navbar-top-position, 0);
$navbar-height: var(--custom-navbar-height, 60);
$vertical-spacing: var(--custom-vertical-spacing, 48);

main {
    > *:first-child {
        &:not(.hero-block) {
            margin-top: calc(var(--custom-vertical-spacing, 2rem) * 2);

            @include media-breakpoint-down(sm) {
                margin-top: calc(var(--custom-vertical-spacing, 2rem));
            }
        }
    }
}

.navbar-fixed, .navbar-absolute {
    main {
        > *:first-child {
            &:not(.hero-block) {
                margin-top: calc(var(--custom-navbar-top-position) + var(--custom-navbar-height) + (var(--custom-vertical-spacing, 2rem) * 2));

                @include media-breakpoint-down(sm) {
                    margin-top: calc(var(--custom-navbar-top-position) + var(--custom-navbar-height) + var(--custom-vertical-spacing, 2rem));
                }
            }
        }
    }
}

.page-wrapper {
    margin-bottom: var(--custom-vertical-spacing, 2rem);
}

article {
    margin-top: var(--custom-vertical-spacing, 2rem);
}
