html {
    font-size: var(--custom-font-size);
}

body {
    color: var(--custom-font-color);
    background-color: var(--custom-body-background-color);
    font-weight: var(--custom-font-weight);
    font-family: var(--custom-text-font-family);
}

a {
    color: var(--custom-link-color);

    &:hover {
        color: var(--custom-link-hover-color);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--custom-headline-font-family);
}

#wpadminbar {
    // To be lower then light-gallery zIndex
    z-index: 1030;
    position: absolute;
    transform: translateY(-100%);
}

.is-style-text-shadow {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.is-style-no-format {
    list-style: none;
    padding: 0;
}

.light-span {
    font-weight: 300;
}

.container {
    max-width: calc(var(--max-container-width) + (var(--container-padding-mobile) * 2)) !important;
    padding-left: var(--container-padding-mobile);
    padding-right: var(--container-padding-mobile);

    @include media-breakpoint-up(sm) {
        max-width: calc(var(--max-container-width) + (var(--container-padding-desktop) * 2)) !important;
        padding-left: var(--container-padding-desktop);
        padding-right: var(--container-padding-desktop);
    }
}

.container-fluid {
    padding-left: var(--container-padding-mobile);
    padding-right: var(--container-padding-mobile);

    @include media-breakpoint-up(sm) {
        padding-left: var(--container-padding-desktop);
        padding-right: var(--container-padding-desktop);
    }
}

.row {
    margin-top: calc(var(--custom-gutter-mobile-y) * -1);
    margin-right: calc(var(--custom-gutter-mobile-x) * -.5);
    margin-left: calc(var(--custom-gutter-mobile-x) * -.5);

    > * {
        padding-right: calc(var(--custom-gutter-mobile-x) * .5);
        padding-left: calc(var(--custom-gutter-mobile-x) * .5);
        margin-top: var(--custom-gutter-mobile-y);
    }

    @include media-breakpoint-up(sm) {
        margin-top: calc(var(--custom-gutter-desktop-y) * -1);
        margin-right: calc(var(--custom-gutter-desktop-x) * -.5);
        margin-left: calc(var(--custom-gutter-desktop-x) * -.5);

        > * {
            padding-right: calc(var(--custom-gutter-desktop-x) * .5);
            padding-left: calc(var(--custom-gutter-desktop-x) * .5);
            margin-top: var(--custom-gutter-desktop-y);
        }
    }
}

// Customizer Classes
.custom-border {
    padding: var(--custom-border-width);
}

.custom-border-radius {
    border-radius: var(--custom-border-radius);
}

.custom-shadow {
    box-shadow: var(--custom-box-shadow);
}

.custom-spacing {
    margin-top: var(--custom-block-spacing);
    margin-bottom: var(--custom-block-spacing);
}

.custom-box-background {
    background-color: green;
}

// Adjust Admin Bar Bug since Wordpress 5.8
@media screen and (max-width: 782px) {
    #wpadminbar {
        position: absolute;
        transform: translateY(-100%);
    }
}
