html {
    font-size: var(--custom-font-size);
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: rgb(var(--custom-font-color));
    background-color: rgb(var(--custom-body-background-color));
    font-weight: var(--custom-font-weight);
    font-family: var(--custom-text-font-family);
    height: 100%;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/**
 * Make Content Set Unter Navigation
 * TODO: Condition for if navigation exists
 */

main {
    > *:first-child {
        &:not(.hero-block) {
            margin-top: calc(var(--custom-navbar-top-position) + var(--custom-navbar-height) + var(--custom-block-spacing));
        }
    }
}

.page-header {
    margin-top: calc(var(--custom-navbar-top-position) + var(--custom-navbar-height) + var(--custom-block-spacing));
    margin-bottom: calc(var(--custom-block-spacing) / 1.5);
}

a {
    color: rgb(var(--custom-link-color));
    position: relative;
    z-index: 20;
    word-break: break-word;

    &:hover {
        color: rgb(var(--custom-link-hover-color));
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--custom-headline-font-family);
    font-weight: var(--custom-headline-weight);
    position: relative;
    z-index: 10;
}

b, strong {
    font-weight: 600;
}

p {
    position: relative;
    z-index: 10;
}

img {
    z-index: 0; // Let Images be always behind text
    max-width: initial;
}

.edit-post-link {
    position: fixed;
    bottom: var(--custom-block-spacing);
    right: var(--custom-block-spacing);
    background-color: rgb(var(--custom-body-background-color));
    border-radius: 50%;
    box-shadow: var(--custom-box-shadow);
    color: rgb(var(--custom-font-color));
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

    &:hover {
        color: rgb(var(--custom-font-color));
    }
}

.screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal !important;
}

.has-text-align-center {
    text-align: center;
}

.has-text-align-right {
    text-align: right;
}

.has-style-shadow {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.has-font-size {
    &-tiny {
        @include font-size($h6-font-size);
    }

    &-small {
        @include font-size($h5-font-size);
    }

    &-normal {
        @include font-size($h4-font-size);
    }

    &-medium {
        @include font-size($h3-font-size);
    }

    &-large {
        @include font-size($h2-font-size);
    }

    &-huge {
        @include font-size($h1-font-size);
    }
}

.light-span {
    font-weight: 300;
}

.align {
    &-left {
        margin-right: auto;
        margin-left: initial;
    }

    &-center {
        margin-right: auto;
        margin-left: auto;
    }

    &-right {
        margin-left: auto;
        margin-right: initial;
    }
}

.justify-content {
    &-left {
        justify-content: flex-start;
    }

    &-center {
        justify-content: center;
    }

    &-right {
        justify-content: flex-end;
    }
}

.is-vertically-aligned {
    &-top {
        align-self: flex-start;
    }

    &-center {
        align-self: center;
    }

    &-bottom {
        align-self: flex-end;
    }
}

.container {
    max-width: calc(var(--max-container-width) + (var(--container-padding-mobile) * 2));
    padding-left: var(--container-padding-mobile);
    padding-right: var(--container-padding-mobile);

    @include media-breakpoint-up(sm) {
        max-width: calc(var(--max-container-width) + (var(--container-padding-desktop) * 2));
        padding-left: var(--container-padding-desktop);
        padding-right: var(--container-padding-desktop);
    }
}

.container-fluid {
    padding-left: var(--container-padding-mobile);
    padding-right: var(--container-padding-mobile);

    @include media-breakpoint-up(sm) {
        padding-left: var(--container-padding-desktop);
        padding-right: var(--container-padding-desktop);
    }
}

.row {
    margin-top: calc(var(--custom-gutter-mobile-y) * -1);
    margin-right: calc(var(--custom-gutter-mobile-x) * -.5);
    margin-left: calc(var(--custom-gutter-mobile-x) * -.5);

    > * {
        padding-right: calc(var(--custom-gutter-mobile-x) * .5);
        padding-left: calc(var(--custom-gutter-mobile-x) * .5);
        margin-top: var(--custom-gutter-mobile-y);
    }

    @include media-breakpoint-up(sm) {
        margin-top: calc(var(--custom-gutter-desktop-y) * -1);
        margin-right: calc(var(--custom-gutter-desktop-x) * -.5);
        margin-left: calc(var(--custom-gutter-desktop-x) * -.5);

        > * {
            padding-right: calc(var(--custom-gutter-desktop-x) * .5);
            padding-left: calc(var(--custom-gutter-desktop-x) * .5);
            margin-top: var(--custom-gutter-desktop-y);
        }
    }
}

// Customizer Classes
.custom-border {
    padding: var(--custom-border-width);
}

.custom-border-radius {
    border-radius: var(--custom-border-radius);
}

.custom-shadow {
    box-shadow: var(--custom-box-shadow);
}

.custom-spacing {
    margin-top: var(--custom-block-spacing);
    margin-bottom: var(--custom-block-spacing);

    .custom-spacing {
        margin-top: initial;
        margin-bottom: initial;
    }
}

/**
 * Remember to add recaptcha gdpr notice
 * @link https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-the-recaptcha-badge.-what-is-allowed
 */
.grecaptcha-badge {
    visibility: hidden;
}
