#wpadminbar {
    // To be lower then light-gallery zIndex
    z-index: 1030;
}

.is-style-text-shadow {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.light-span {
    font-weight: 300;
}

// Theme Container Settings
.container {
    max-width: calc(var(--max-container-width) + (var(--container-padding-mobile) * 2)) !important;
    padding-left: var(--container-padding-mobile);
    padding-right: var(--container-padding-mobile);

    @include media-breakpoint-up(sm) {
        max-width: calc(var(--max-container-width) + (var(--container-padding-desktop) * 2)) !important;
        padding-left: var(--container-padding-desktop);
        padding-right: var(--container-padding-desktop);
    }
}

.row {
    margin-top: calc(var(--custom-gutter-mobile-y) * -1);
    margin-right: calc(var(--custom-gutter-mobile-x) * -.5);
    margin-left: calc(var(--custom-gutter-mobile-x) * -.5);

    > * {
        padding-right: calc(var(--custom-gutter-mobile-x) * .5);
        padding-left: calc(var(--custom-gutter-mobile-x) * .5);
        margin-top: var(--custom-gutter-mobile-y);
    }

    @include media-breakpoint-up(sm) {
        margin-top: calc(var(--custom-gutter-desktop-y) * -1);
        margin-right: calc(var(--custom-gutter-desktop-x) * -.5);
        margin-left: calc(var(--custom-gutter-desktop-x) * -.5);

        > * {
            padding-right: calc(var(--custom-gutter-desktop-x) * .5);
            padding-left: calc(var(--custom-gutter-desktop-x) * .5);
            margin-top: var(--custom-gutter-desktop-y);
        }
    }
}

// Customizer Classes
.custom-border {
    padding: var(--custom-border-width);
}

.custom-border-radius {
    border-radius: var(--custom-border-radius);
}

.custom-shadow {
    box-shadow: var(--custom-box-shadow);
}

.custom-spacing {
    margin-top: var(--custom-block-spacing);
    margin-bottom: var(--custom-block-spacing);
}

// Adjust Admin Bar Bug since Wordpress 5.8
@media screen and (max-width: 782px) {
    #wpadminbar {
        position: absolute;
        transform: translateY(-100%);
    }
}
