/**
 * Frontend & Editor
 */
.grid-block {

    &__row {
        display: flex;
        flex-wrap: wrap;
        @extend .row;
    }

    &__col {
        display: flex;
    }

    &__inner {
        height: 100%;
        width: 100%;
        display: flex;
        margin: 0;
        padding-right: var(--padding-x, 0em);
        padding-left: var(--padding-x, 0em);
        position: relative;
    }

    &__wrapper {
        width: 100%;
        min-height: 20px;
    }

    .block-list-appender {
        width: initial;
    }
}

/**
 * Editor styles only
 */
[data-type="custom/grid"] {
    &.is-selected {
        .grid-block__row {
            margin-top: initial;
        }
    }
}
