# https://docs.gitlab.com/ee/ci/examples/deployment/composer-npm-deploy.html

#image: php:latest
#image: note:latest

#image: node:latest

stages:
    - build
    - deploy

# before_script:
    - apt-get update
    - apt-get install zip unzip
#    - php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
#    - php composer-setup.php
#    - php -r "unlink('composer-setup.php');"
    # Run Composer Install to fetch all PHP dependencies and npm install
#    - php ./composer.phar install --working-dir=./bedrock
#    - php ./composer.phar install --working-dir=./theme
    # - npm install
    # - npm run deploy # TODO: Adjust tasks
#
#    - ls
#    - npm install --prefix ./theme
#    - npm run build:production --prefix ./theme
#    - ls
    # Security tip
    # Create a user that has access only to the folder that needs to be updated
#    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
#    - mkdir -p ~/.ssh
#    - eval $(ssh-agent -s)
#    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

build:composer:
    stage: build
    image: php:latest
    artifacts:
        paths:
            - theme/public/
            - theme/vendor/
            - bedrock/vendor/
    only:
        - master
    script:
        # Install Composer
        - php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
        - php composer-setup.php
        - php -r "unlink('composer-setup.php');"
        # Run Composer Install to fetch all PHP dependencies and npm install
        - php ./composer.phar install --working-dir=./bedrock
        - php ./composer.phar install --working-dir=./theme
        # Security tip
        # Create a user that has access only to the folder that needs to be updated
#        - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
#        - mkdir -p ~/.ssh
#        - eval $(ssh-agent -s)
#        - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'


# npm fileline!!!
build:npm:
    stage: build
    image: node:latest
    artifacts:
        paths:
            - theme/public/
            - theme/vendor/
            - bedrock/vendor/
    only:
        - master
    script:
#        - pwd
#        - ls
        - npm install --prefix ./theme
        - npm run build:production --prefix ./theme

deploy:staging:
    stage: deploy
    artifacts:
        paths:
            - theme/public/
            - theme/vendor/
            - bedrock/vendor/
    only:
        - master
    script:
        # Security tip
        # Create a user that has access only to the folder that needs to be updated
        - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
        - mkdir -p ~/.ssh
        - eval $(ssh-agent -s)
        - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
        # Deploy to Server
        - ssh-add <(echo "$STAGING_PRIVATE_KEY")
        - ssh wandeldigital@87.230.85.133 "mkdir ./_tmp"
        - scp -r * wandeldigital@87.230.85.133:./_tmp
        # - ssh wandeldigital@87.230.85.133 "mv ./live ./_old && mv ./_tmp ./live"
        - ssh wandeldigital@87.230.85.133 "rm -rf ./_old"
