# System files & folders
.npm
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
Thumbs.db

# IDE
.idea
.phpintel
.vscode/

# Dependencies
node_modules/
vendor/
composer.lock

# Build output
theme/assets/
.vite/

# WordPress core (downloaded via Docker)
wordpress/

# Environment files
.env

# Logs
*.log

# Database exports
*.sql

# Backups
backups/

# Uploads (synced separately)
uploads/
