.hero-block {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    //.section-shape {
    //    position: absolute;
    //
    //    &.shape-top {
    //        top: -1px;
    //    }
    //
    //    &.shape-bottom {
    //        bottom: -1px;
    //    }
    //}

    &__image {
        position: absolute;
        width: 100%;
        max-width: initial;
        height: 100%;
        object-fit: cover;
        object-position: center;

        &.is-blurred {
            top: -13px;
            left: -13px;
            width: calc(100% + 26px);
            height: calc(100% + 26px);
        }
    }

    &__overlay {
        background-image: radial-gradient(at center top, hsla(0, 0%, 100%, .8) 20%, hsla(0, 0%, 100%, 0) 80%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__container {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: var(--custom-block-spacing, 2rem);
        padding-bottom: var(--custom-block-spacing, 2rem);
    }

    &__text-wrapper {
        display: inline-block;
        position: relative;
    }

    &.full-height {
        min-height: 100vh;
    }

    &:not(.full-height) {
        $min-value: var(--hero-height-mobile);
        $max-value: var(--hero-height-desktop);
        $min-max-value: var(--hero-min-max-height);
        $min-vw: map-get($grid-breakpoints, xs);
        $max-vw: map-get($grid-breakpoints, xxl);

        min-height: #{$min-value};

        @media screen and (min-width: $min-vw) {
            min-height: calc(#{$min-value} + #{$min-max-value} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }

        @media screen and (min-width: $max-vw) {
            min-height: #{$max-value};
        }
    }
}
