i[class^="icon-"], i[class*=" icon-"], .custom-icon, .lg-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'custom-icon-font' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.5rem;

    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons: (
    "alert-circle": "\e900",
    "arrow-down-circle": "\e901",
    "arrow-down": "\e902",
    "arrow-left-circle": "\e903",
    "arrow-left": "\e904",
    "arrow-right-circle": "\e905",
    "arrow-right": "\e906",
    "arrow-up-circle": "\e907",
    "arrow-up": "\e908",
    "at": "\e909",
    "award": "\e90a",
    "bookmark": "\e90b",
    "caret-down": "\e90c",
    "caret-left": "\e90d",
    "caret-right": "\e90e",
    "caret-up": "\e90f",
    "chat": "\e910",
    "check": "\e911",
    "chevron-down": "\e912",
    "chevron-left": "\e913",
    "chevron-right": "\e914",
    "chevron-up": "\e915",
    "close-circle": "\e916",
    "close": "\e917",
    "download": "\e918",
    "edit-note": "\e919",
    "edit": "\e91a",
    "eye": "\e91b",
    "grid": "\e91c",
    "headphones": "\e91d",
    "help-circle": "\e91e",
    "image": "\e91f",
    "info": "\e920",
    "link": "\e921",
    "mail": "\e922",
    "menu": "\e923",
    "minus-circle": "\e924",
    "minus": "\e925",
    "people": "\e926",
    "person": "\e927",
    "phone": "\e928",
    "place": "\e929",
    "plus-circle": "\e92a",
    "plus": "\e92b",
    "search": "\e92c",
    "star": "\e92d",
    "trash": "\e92e",
    "upload": "\e92f",
    "wifi": "\e930"
);

@each $name, $glyph in $icons {
    .icon-#{$name}:before {
        content: $glyph;
    }
}
