/**
 * Frontend
 */
#app {
    .section-block {
        &__inner {
            display: flex;
            flex-direction: column;
        }
    }
}

.section-block {
    display: flex;
    position: relative;

    &__inner {
        @extend .container;
        padding-top: var(--custom-vertical-spacing, 2rem);
        padding-bottom: var(--custom-vertical-spacing, 2rem);
        position: relative;

        .wp-block {
            max-width: initial;
        }

        &.full-width {
            max-width: 100%;
        }
    }

    &.full-height {
        min-height: 100vh;
    }

    &.min-height {
        $min-value: var(--min-height-mobile);
        $max-value: var(--min-height-desktop);
        $min-max-value: var(--min-height-desktop-mobile);
        $min-vw: map-get($grid-breakpoints, xs);
        $max-vw: map-get($grid-breakpoints, xl);

        min-height: #{$min-value};

        @media screen and (min-width: $min-vw) {
            min-height: calc(#{$min-value} + #{$min-max-value} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }

        @media screen and (min-width: $max-vw) {
            min-height: #{$max-value};
        }
    }

    $min-value: var(--shape-height-mobile, '30px');
    $max-value: var(--shape-height-desktop, '90px');
    $min-max-value: var(--shape-height-desktop-mobile);
    $min-vw: map-get($grid-breakpoints, xs);
    $max-vw: map-get($grid-breakpoints, xl);

    padding-top: #{$min-value};
    padding-bottom: #{$min-value};

    @media screen and (min-width: $min-vw) {
        padding-top: calc(#{$min-value} + #{$min-max-value} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        padding-bottom: calc(#{$min-value} + #{$min-max-value} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }

    @media screen and (min-width: $max-vw) {
        padding-top: #{$max-value};
        padding-bottom: #{$max-value};
    }
}

main > .section-block {
    &:not(.has-background) {
        .section-block__inner {
            padding: 0;
            margin-top: var(--custom-vertical-spacing, 2rem);
            margin-bottom: var(--custom-vertical-spacing, 2rem);
        }
    }
}

.clip-path-svg {
    position: absolute;
}

.section-shape {
    width: 100%;
    position: absolute;

    &.shape-none {
        display: none;
    }

    &.shape-top {
        top: -1px;
    }

    &.shape-bottom {
        transform: rotateX(180deg) rotateY(-180deg);
        bottom: -1px;
    }

    &.shape-inverted {
        transform: rotateY(-180deg);

        &.shape-bottom {
            transform: rotateX(180deg) rotateY(-360deg);
        }
    }

    $min-value: var(--shape-height-mobile, '30px');
    $max-value: var(--shape-height-desktop, '90px');
    $min-max-value: var(--shape-height-desktop-mobile);
    $min-vw: map-get($grid-breakpoints, xs);
    $max-vw: map-get($grid-breakpoints, xl);

    height: #{$min-value};

    @media screen and (min-width: $min-vw) {
        height: calc(#{$min-value} + #{$min-max-value} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }

    @media screen and (min-width: $max-vw) {
        height: #{$max-value};
    }
}
