.accordion-block {

    &__item {
        border-bottom: 1px solid $gray-300;

        &:last-child {
            border-bottom: none;
        }
    }

    &__item-header {
        padding: var(--accordion-spacing, 1rem);
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;

        p {
            margin: 0;
        }

        &.collapsed {
            i {
                transform: rotate(-180deg);
            }
        }
    }

    &__item-header-inner {
        position: relative;
    }

    &__item-body {
        padding: var(--accordion-spacing, 1rem);
        padding-top: 0 !important;
    }

    &.has-icon {
        .accordion-block__item-header {
            &:after {
                @extend .custom-icon;
                content: map-get($icons, chevron-down);
                position: absolute;
                right: 0;
                transition: transform .2s ease-in-out;
                color: rgb(var(--custom-controls-color))
            }

            &.collapsed {
                &:after {
                    transform: rotate(-180deg);
                }
            }
        }
    }

    i {
        margin-left: auto;
        transition: transform .2s ease-in-out;
        color: rgb(var(--custom-controls-color))
    }
}
