.accordion-block {

    &__item {
        border-bottom: 1px solid $gray-300;
        position: relative;
        //display: flex;
        //align-items: center;

        &:last-child {
            border-bottom: none;
        }
    }

    &__item-header {
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;

        p {
            margin: 0;
        }

        &.collapsed {
            .icon-chevron-down {
                transform: rotate(-180deg);
            }
        }
    }

    &__item-body {
        padding: 10px;
    }

    .icon-chevron-down {
        margin-left: auto;
        transition: transform .2s ease-in-out;
    }
}
