.accordion-block {

    &__item {
        border-bottom: 1px solid $gray-300;
        position: relative;

        &:last-child {
            border-bottom: none;
        }
    }

    &__item-header {
        padding: 10px;
        cursor: pointer;
        // background-color: green;

        p {
            margin: 0;
        }
    }

    &__item-body {
        padding: 10px;
    }

}
