.accordion-block {

    &__item {
        border-bottom: 1px solid $gray-300;
        position: relative;

        &:last-child {
            border-bottom: none;
        }
    }

    &__item-header {
        padding: 0.625rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;

        p {
            margin: 0;
        }

        &.collapsed {
            i{
                transform: rotate(-180deg);
            }
        }
    }

    &__item-body {
        padding: 0.625rem;
        padding-top: 0 !important;

        p {
            margin: 0;
        }
    }

    i {
        margin-left: auto;
        transition: transform .2s ease-in-out;
        color: rgb(var(--custom-controls-color))
    }
}
