.slider-block {
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);

    &__slides-wrapper {
        display: flex;
        flex-wrap: initial;
        cursor: grab;
        margin: 3px 0; // for box-shadow
    }

    &__slide {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }

    &__slide-inner {
        position: relative;
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &__text-wrapper {
        min-height: 110px;
    }

    &__text {
       margin: 0;
    }

    // Interate trough slides
    $slides: 1, 2, 3, 4;
    @each $slide in $slides {
        &[data-slides-per-view="#{$slide}"] {
            .slider-block__slide {
                width: calc(100% / #{$slide});

                @if $slide == 3 {
                    @include media-breakpoint-down(md) {
                        width: calc(100% / #{$slide - 1});
                    }
                }

                @if $slide == 4 {
                    @include media-breakpoint-down(lg) {
                        width: calc(100% / #{$slide - 1});
                    }

                    @include media-breakpoint-down(md) {
                        width: calc(100% / #{$slide - 2});
                    }
                }
            }
        }
    }
}
