.slider-block {
    position: relative;

    &__container {
        @extend .row-margin;

        //@include media-breakpoint-down(sm) {
        //    @extend .row-margin-mobile;
        //}
    }

    &__slides-wrapper {
        display: flex;
        flex-wrap: initial;
        cursor: grab;
        //margin: 3px 0; // for box-shadow

        > .block-list-appender {
            position: relative;
            right: 65px;
        }
    }

    &__slide {
        display: flex;
        height: auto;
        @extend .col-padding;

        //@include media-breakpoint-down(sm) {
        //    @extend .row-padding-mobile;
        //}
    }

    &__slide-inner {
        position: relative;
        height: 100%;
        width: 100%;
        //display: flex;
        //flex-direction: column;
        //overflow: hidden;
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    //&__text-wrapper {
    //    margin: 1rem 0.75rem;
    //    display: flex;
    //    flex-direction: column;
    //    justify-content: center;
    //}

    &__text {
       margin: 0;
    }

    &.two-slides-on-mobile {
        $slides: 1, 2, 3, 4;
        @each $slide in $slides {
            &[data-slides-per-view="#{$slide}"] {
                .slider-block__slide {
                    @if $slide == 2 {
                        @include media-breakpoint-down(sm) {
                            width: calc(100% / #{$slide});
                        }

                        @include media-breakpoint-down(xs) {
                            width: calc(100% / #{$slide - 1});
                        }
                    }

                    @if $slide == 3 {
                        @include media-breakpoint-down(sm) {
                            width: calc(100% / #{$slide - 1});
                        }

                        @include media-breakpoint-down(xs) {
                            width: calc(100% / #{$slide - 2});
                        }
                    }

                    @if $slide == 4 {
                        @include media-breakpoint-down(sm) {
                            width: calc(100% / #{$slide - 2});
                        }

                        @include media-breakpoint-down(xs) {
                            width: calc(100% / #{$slide - 3});
                        }
                    }
                }
            }
        }
    }

    // Interate trough slides
    $slides: 1, 2, 3, 4;
    @each $slide in $slides {
        &[data-slides-per-view="#{$slide}"] {
            .slider-block__slide {
                width: calc(100% / #{$slide});

                @if $slide == 2 {
                    @include media-breakpoint-down(sm) {
                        width: calc(100% / #{$slide - 1});
                    }
                }

                @if $slide == 3 {
                    @include media-breakpoint-down(md) {
                        width: calc(100% / #{$slide - 1});
                    }

                    @include media-breakpoint-down(sm) {
                        width: calc(100% / #{$slide - 2});
                    }
                }

                @if $slide == 4 {
                    @include media-breakpoint-down(lg) {
                        width: calc(100% / #{$slide - 1});
                    }

                    @include media-breakpoint-down(md) {
                        width: calc(100% / #{$slide - 2});
                    }

                    @include media-breakpoint-down(sm) {
                        width: calc(100% / #{$slide - 3});
                    }
                }
            }
        }
    }

    // Swiper Controls
    .swiper-controls {
        display: flex;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
        padding-right: calc(var(--slider-spacing) / 2);
        padding-left: calc(var(--slider-spacing) / 2);

        .swiper-pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;

            &:not(.swiper-pagination-bullets-dynamic) {
                width: initial !important;
            }

            &.swiper-pagination-bullets-dynamic {
                left: 30px;
                position: relative;

                .swiper-pagination-bullet {
                    opacity: 0;
                    visibility: hidden;
                    transform: scale(0.3);
                    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, left .2s ease-in-out;

                    &-active-prev-prev, &-active-next-next {
                        opacity: 1;
                        visibility: visible;
                        transform: scale(0.6);
                    }

                    &-active-prev, &-active-next {
                        opacity: 1;
                        visibility: visible;
                        transform: scale(1);
                    }

                    &-active {
                        opacity: 1;
                        visibility: visible;
                        transform: scale(1);
                    }
                }
            }

            .swiper-pagination-bullet {
                width: calc(var(--slider-controls-size, 1rem) / 1.5);
                min-width: calc(var(--slider-controls-size, 1rem) / 1.5);
                height: calc(var(--slider-controls-size, 1rem) / 1.5);
                margin: 5px;
                border-radius: 50%;
                background-color: rgba(var(--custom-controls-color), 0.3);
                position: relative;

                &-active {
                    background-color: rgb(var(--custom-controls-color));
                }
            }
        }

        i {
            color: rgb(var(--custom-controls-color));
            font-size: calc(var(--slider-controls-size, 1rem) * 2.5);
        }

        &.right-position {
            justify-content: flex-end;

            .swiper-pagination {
                order: 1;
                margin-right: auto;
            }
            .swiper-button-prev {
                order: 2;
                margin: 0 0 0 auto;
            }
            .swiper-button-next {
                order: 3;
                margin: 0 0 0 10px;
            }
        }

        &.left-position {
            justify-content: flex-start;

            .swiper-pagination {
                order: 3;
                margin-left: auto;
            }
            .swiper-button-prev {
                order: 1;
                margin: 0;
            }
            .swiper-button-next {
                order: 2;
                margin: 0 auto 0 10px;
            }
        }

        &.center-position {
            justify-content: center;
        }

        .swiper-button-prev, .swiper-button-next {
            cursor: pointer;
            opacity: 1;
            visibility: visible;
            transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

            &.swiper-button-disabled {
                opacity: 0.3;
                cursor: initial;
            }
        }

        .swiper-button-prev {
            margin: 0 auto 0 0;
        }

        .swiper-button-next {
            margin: 0 0 0 auto;
        }
    }
}
