// Wordpress Admin Only Styles

// Adjusting Kirki Customizer Controls
#customize-controls {
    [id^="customize-control-custom_border"],
    [id^="customize-control-custom_spacing"],
    [id^="customize-control-custom_text"],
    [id^="customize-control-custom_headline"] {
        display: list-item !important;
        margin-bottom: 0;

        label {
            cursor: initial;
        }

        .custom-headline {
            margin-top: 0;
        }

        .custom-text {
            margin-top: 0;
        }
    }

    [id^="customize-control-custom_navbar_logo_image"] {
        img {
            max-width: 50%;
        }
    }
}

@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";

/**
 * Contact Form 7 - Admin Panel Adjustments
 */
.toplevel_page_wpcf7 {
    .CodeMirror {
        width: auto;
        height: auto;
        border-radius: 10px;
        margin-top: 10px;

        &-sizer {
            width: 0;
            min-width: 0 !important;
        }
    }

    .tag-generator-panel {
        .submitbox {
            display: none;
        }

        .insert-box {
            input[type='text'] {
                width: 100%;
            }
        }
    }
}
