/**
 * Wordpress Admin Only Styles
 */

// Adjusting Kirki Customizer Controls
#customize-controls {
    [id^="customize-control-custom_border"],
    [id^="customize-control-custom_spacing"] {
        display: list-item !important;
        margin-bottom: 0;

        label {
            cursor: initial;
        }

        .custom-headline {
            margin-top: 0;
        }

        .custom-text {
            margin-top: 0;
        }
    }

    [id^="customize-control-custom_navbar_logo_image"] {
        img {
            max-width: 50%;
        }
    }

    .select2-selection__clear {
        display: none;
    }
}

@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";

/**
 * Contact Form 7 - Admin Panel Adjustments
 */
.toplevel_page_wpcf7 {
    .tag-generator-panel {
        .submitbox {
            display: none;
        }

        .insert-box {
            input[type='text'] {
                width: 100%;
            }
        }
    }
}

/**
 * General CodeMirror Styling
 */
.wp-admin {
    .CodeMirror {
        width: auto;
        height: auto;
        border-radius: 10px;
        margin-top: 10px;

        &-sizer {
            width: 0;
            min-width: 0 !important;
        }
    }
}

.customize-control-kirki-multicheck {

    .customize-control-title {
        margin-bottom: 16px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 12px;
            margin-bottom: 8px;

            input {
                width: 22px;
                height: 22px;

                &:checked {
                    border: 1px solid var(--wp-admin-theme-color);

                    &:before {
                        margin: -4px 0 0 -5px;
                        height: 28px;
                        width: 28px;
                    }
                }
            }
        }
    }
}

.customize-control-kirki-radio:not([id^="customize-control-custom_color_select"]) {
    .kirki-input-container {
        display: flex;
        flex-wrap: wrap;

        .customize-control-title {
            width: 100%;
            margin-bottom: 16px;
        }

        label {
            margin-right: 12px;

            input {
                width: 24px;
                height: 24px;
                border: 2px solid #8c8f94;

                &:checked {

                    &:before {
                        width: 16px;
                        height: 16px;
                        margin: 2px;
                    }
                }
            }
        }
    }
}

.customize-control-kirki-radio[id^="customize-control-custom_color_select"] {
    .kirki-input-container {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 42px;

        .customize-control-title {
            width: 100%;
            margin-bottom: 16px;
        }

        label {
            font-size: 0;
            display: inline-flex;
            height: 20px;

            input {
                width: 16px;
                height: 16px;
                max-width: 16px;
                border-radius: 50%;
                font-size: 0;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 7px;
                margin-bottom: 7px;
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);

                $color_slugs:
                    'primary',
                    'secondary',
                    'tertiary',
                    'quaternary',
                    'light',
                    'light-100',
                    'light-200',
                    'light-300',
                    'dark',
                    'dark-100',
                    'dark-200',
                    'dark-300',
                    'dark-light-100',
                    'dark-light-200',
                    'dark-light-300',
                    'dark-light-400',
                    'success',
                    'danger',
                    'warning',
                    'info';

                @each $color_slug in $color_slugs {
                    .icon-#{$color_slug} {
                        font-size: $color_slug;
                        height: $color_slug;
                        width: $color_slug;
                    }

                    &[value=#{$color_slug}] {
                        background-color: rgb(var(--custom-#{$color_slug}-color))
                    }
                }
            }

            input:checked {
                border: 2px solid #FFF;
                box-shadow: 0 0 0 2px #8c8f94;

                &:before {
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    left: 0;
                    bottom: 0;
                    background-color: inherit;
                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
                }

                &:focus {
                    border: 2px solid #FFF;
                    box-shadow: 0 0 0 2px #8c8f94;
                    outline: none;
                }
            }
        }
    }
}
