// Config
@import 'config';

// External
@import 'external';

// Common
@import 'common';

// Components
@import 'components';

// Partials
@import 'partials';

// Import gutenberg block styles
 @import '../blocks';

// Core Blocks
@import 'core-blocks';

/* purgecss start ignore */

// Wordpress align classes
//.alignwide {
// -----> Need to find right styles for alignwide
//}

.alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
}

/* purgecss end ignore */
