// Config
@import 'config';

// External
@import 'external';

// Common
@import 'common';

// Components
@import 'components';

// Partials
@import 'partials';

// Import gutenberg block styles
 @import '../scripts/blocks';

// Core Blocks
@import 'core-blocks';

/* purgecss start ignore */

// Wordpress align classes
//.alignwide {
// -----> Need to find right styles for alignwide
//}

.alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
}

.alignwide {
    max-width: 100vw;
    width: calc(var(--max-container-width) + 200px);
    transform: translateX(-50%);
    margin-left: 50%;

    @include media-breakpoint-down(xl) {
        width: 100%;
    }
}

/* purgecss end ignore */
