// Custom Gutenberg block editor styles
.block-editor .editor-styles-wrapper {
    @import 'config';
    font-size: $font-size-base;
    overflow: hidden;

    // wrapper to override gutenberg block library css
    > * {
        @import 'external';
        @import 'common';
        @import '../blocks';
        @import 'core-blocks';

        // extends gutenberg button class
        .button {
            font-size: 13px;
            line-height: 22px;

            &--icon-only {
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .icon-only {
            padding: 0;
            height: 20px;
            width: 20px;
            min-width: 20px;
            display: flex;

            span {
                margin: 0;
            }
        }
    }

    .editor-post-title {
        font-size: 26px; // Always same size title
    }

    blockquote {
        // Empty for now...
    }
}

// edit-sidebar controls wrapper
.inspector-controls-container {
    padding: 0 16px 16px 16px;
}

.wp-block {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-container-width, 1260px);
}
