// Variables and Roots
$grid-breakpoints: (
    xxs: 0,
    xs: 375px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

:root {
    // Custom variable values only support SassScript inside `#{}`.
    @each $breakpoint, $value in $grid-breakpoints {
        --breakpoint-#{$breakpoint}: #{$value};
    }
}

html {
    font-size: var(--custom-font-size);
}

// Custom Gutenberg block editor styles
.editor-styles-wrapper {
    @import 'config';
    @import 'external';
    font-weight: var(--custom-font-weight);
    font-family: var(--custom-text-font-family) !important;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: var(--custom-font-color);
    background-color: var(--custom-body-background-color);
    overflow: hidden;

    // wrapper to override gutenberg block library css
    > * {
        @import 'common';
        @import '../blocks';
        @import 'core-blocks';
    }

    .editor-post-title__input {
        font-size: 1.625rem;
    }

    blockquote {
        // Empty for now...
    }
}

// edit-sidebar controls wrapper
.inspector-controls-container {
    padding: 0 16px 16px 16px;
}

.wp-block {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-container-width);

    @media (min-width: 720px) {
        max-width: var(--max-container-width);
    }

    &[data-type="core/widget-area"] {
        max-width: var(--max-container-width);
    }
}

.editor-styles-wrapper, .block-editor-block-inspector {
    .components-button {
        display: inline-flex;
        border-radius: 4px;
        height: auto;

        &:after {
            border-radius: 4px;
        }

        &.has-icon {
            span {
                margin-left: 4px;
                margin-right: 4px;
            }
        }
    }
}

// Widget Area
.blocks-widgets-container {
    .editor-styles-wrapper {
        max-width: var(--max-container-width);
    }

    // Footer Widget
    [data-widget-area-id="sidebar-footer"] {
        background-color: var(--custom-footer-background-color);
        color: var(--custom-footer-text-color);

        a {
            color: var(--custom-footer-link-color);

            &:hover {
                color: var(--custom-footer-link-color);
            }
        }
    }
}

