// Variables and Roots
$grid-breakpoints: (
    xxs: 0,
    xs: 375px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

:root {
    // Custom variable values only support SassScript inside `#{}`.
    @each $breakpoint, $value in $grid-breakpoints {
        --breakpoint-#{$breakpoint}: #{$value};
    }
}

html {
    font-size: var(--custom-font-size);
}

// Custom Gutenberg block editor styles
.editor-styles-wrapper {
    @import 'config';
    @import 'external';
    font-weight: var(--custom-font-weight);
    font-family: var(--custom-text-font-family) !important;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: rgb(var(--custom-font-color));
    background-color: rgb(var(--custom-body-background-color));
    overflow: hidden;

    // wrapper to override gutenberg block library css
    > * {
        @import 'common';
        @import 'components';
        @import '../blocks';
        @import 'core-blocks';
    }

    .editor-post-title__input {
        font-size: 1.625rem;
    }

    blockquote {
        // Empty for now...
    }
}

// edit-sidebar controls wrapper
.inspector-controls-container {
    padding: 0 16px 16px 16px;
}

.wp-block {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-container-width);

    @media (min-width: 720px) {
        max-width: var(--max-container-width);
    }

    &[data-type="core/widget-area"] {
        max-width: var(--max-container-width);
    }

    &[data-align="wide"] {
        max-width: calc(var(--max-container-width) + 200px);
    }
}

.editor-styles-wrapper, .block-editor-block-inspector {
    .components-button {
        display: inline-flex;
    }

    .block-editor-block-styles {
        display: none;
    }
}

// Widget Area
.blocks-widgets-container {
    .editor-styles-wrapper {
        max-width: var(--max-container-width);
    }

    // Footer Widget
    [data-widget-area-id="sidebar-footer"] {
        background-color: rgb(var(--custom-footer-background-color));
        color: rgb(var(--custom-footer-text-color));

        a {
            color: rgb(var(--custom-footer-link-color));

            &:hover {
                color: rgb(var(--custom-footer-link-color));
            }
        }
    }
}

.components-focal-point-picker-control {
    &.no-picker-controls {
        .focal-point-picker__controls {
            display: none;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    &.has-background {
        padding: initial;
    }
}

/**
 * Styles Editor Clip Path Component
 */
.clip-paths {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;

    &__wrapper {
        width: calc(100% / 4);
        height: 60px;
        padding: 5px;
    }

    &__element {
        background-color: #1d2327;
        width: 100%;
        height: 100%;
        opacity: 0.7;

        &.is-active {
            opacity: 1;
        }
    }

    &__remove-button-wrapper {
        //margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
        text-align: right;
    }
}

.clip-path-svg {
    position: absolute;
    width: 0;
    height: 0;
}

/**
 * Experimental Control, Will be Changed in the Future
 * TODO: Be aware that this will change in future versions...
 */
.components-custom-gradient-picker {
    &__gradient-bar, &__control-point-button {
        border: 1px dashed var(--wp-admin-theme-color) !important;
    }
}

.components-focal-point-picker {
    width: 100%;
}

.components-circular-option-picker {
    &__option-wrapper {
        &:before {
            opacity: 0.2;
        }
    }
}
