$grid-breakpoints: (
    xxs: 0,
    xs: 375px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

:root {
    // Custom variable values only support SassScript inside `#{}`.
    @each $breakpoint, $value in $grid-breakpoints {
        --breakpoint-#{$breakpoint}: #{$value};
    }
}

// Custom Gutenberg block editor styles
.block-editor .editor-styles-wrapper {
    @import 'config';
    font-size: $font-size-base;
    overflow: hidden;

    // wrapper to override gutenberg block library css
    > * {
        @import 'external';
        @import 'common';
        @import '../blocks';
        @import 'core-blocks';
    }

    .editor-post-title {
        font-size: 26px; // Always same size title
    }

    blockquote {
        // Empty for now...
    }
}

// edit-sidebar controls wrapper
.inspector-controls-container {
    padding: 0 16px 16px 16px;
}

.wp-block {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-container-width);
}

.block-editor {
    .editor-styles-wrapper, .block-editor-block-inspector {
        .components-button {
            display: inline-flex;
            border-radius: 4px;

            &:after {
                border-radius: 4px;
            }

            &.has-icon {
                span {
                    margin-left: 4px;
                    margin-right: 4px;
                }
            }
        }
    }
}
