/* purgecss start ignore */

/**
 * Custom blocks
 */
@import 'map';
@import 'accordion';
@import 'divider';
@import 'slider';
@import 'image';
@import 'button';
@import 'section';
@import 'fluid-text';
@import 'spacer';
@import 'wrapper';
@import 'grid';
@import 'video';

/**
 * Deprecated blocks
 */
@import '_text-image';
@import '_hero';
@import '_grid-list';
@import '_icon-text';

/* purgecss end ignore */
