.text-image-block {
    &__images-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: calc(var(--custom-gutter-mobile, 2rem) * -.3);

        > a, > div {
            display: none;
            padding: calc(var(--custom-gutter-mobile, 2rem) * .3);
            width: 100%;
        }

        @include media-breakpoint-up(sm) {
            margin: calc(var(--custom-gutter-desktope, 2rem) * -.3);

            > a, > div {
                padding: calc(var(--custom-gutter-desktope, 2rem) * .3);
            }
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &[data-image-count="1"] {
            > a, > div {
                &:nth-child(1) {
                    display: inline;
                    width: 100%;
                }
            }
        }

        &[data-image-count="2"] {
            > a, > div {
                &:nth-child(1),
                &:nth-child(2) {
                    display: inline;
                    width: 50%;
                }
            }
        }

        &[data-image-count="3"] {
            > a, > div {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    display: inline;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: 50%;
                }
            }
        }

        &[data-image-count="4"] {
            > a, > div {
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    display: inline;
                    width: 50%;
                }
            }
        }
    }
}
