/**
 * TODO: Custom Mixin for Dynamic heights
 */
.spacer-block {
    $min-height: var(--spacer-height-mobile);
    $max-height: var(--spacer-height-desktop);
    $min-max-height: var(--spacer-min-max-height);
    $min-vw: map-get($grid-breakpoints, xs);
    $max-vw: map-get($grid-breakpoints, xl);

    /*
     * Fluid Height Styles Start
     */
    height: #{$min-height};

    @media screen and (min-width: $min-vw) {
        height: calc(#{$min-height} + #{$min-max-height} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }

    @media screen and (min-width: $max-vw) {
        height: #{$max-height};
    }
}
