.map-block {
    margin-bottom: 20px;

    &__wrapper {
        position: relative;
        width: 100%;
        padding-top: 56.25%; // 16:9 Aspect Ratio
        //padding-top: 75%; // 4:3 Aspect Ratio
        //padding-top: 66.66%; // 3:2 Aspect Ratio
    }

    &__map {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--custom-gray-300-color);

        iframe {
            background-color: var(--custom-gray-300-color);
        }
    }

    &__route-link {
        box-shadow: var(--custom-box-shadow);
        background-color: var(--custom-body-background-color);
        border-radius: var(--custom-border-radius);
        color: var(--custom-font-color);
        height: 48px;
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        margin: 0;
        text-decoration: none;
        padding: 10px;

        &:hover {
            color: var(--custom-font-color);
        }

        span {
            font-weight: var(--custom-font-weight);
            font-family: var(--custom-text-font-family);
            margin-right: 10px;

            @include media-breakpoint-down(xs) {
                display: none;
            }
        }
    }

    &__route-link-icon {
        margin: 0 5px;
    }
}
