.map-block {
    margin-bottom: 20px;

    &__wrapper {
        position: relative;
        width: 100%;
        padding-top: 56.25%; // 16:9 Aspect Ratio
        //padding-top: 75%; // 4:3 Aspect Ratio
        //padding-top: 66.66%; // 3:2 Aspect Ratio
    }

    &__map {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #E5E7E9;

        iframe {
            background-color: #E5E7E9;
        }
    }

    &__route-link {
        box-shadow: rgba(0, 0, 0, .3) 0 1px 4px -1px;
        background-color: #FFF;
        border-radius: 2px;
        height: 48px;
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        align-items: center;
        margin: 0;
        text-decoration: none;

        span {
            margin: 0 0 0 10px;
            font-weight: 500;
            color: $primary;
            font-size: 14px;

            @include media-breakpoint-down(xs) {
                display: none;
            }
        }
    }

    &__route-link-icon {
        margin: 0 5px;
    }
}
