@mixin placeholder {
    &.placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-webkit-input-placeholder {
        @content
    }
}

/*
 * Strip Unit Function takes away the Unit at the end!
 */
@function strip-unit($number) {
    @if type-of($number) == "number" and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}
