/**
 * Frontend & Editor
 */
.grid-columns-block {

    &__row {
        display: flex;
        flex-wrap: wrap;
        @extend .row;
    }

    &__col {
        display: flex;
    }

    &__inner {
        height: 100%;
        width: 100%;
        display: flex;
        margin: 0;
        padding: var(--inner-vertical-padding, 0em) var(--inner-horizontal-padding, 0em);
        position: relative;
    }

    &__wrapper {
        width: 100%;
        min-height: 50px;
    }

    .block-list-appender {
        width: initial;
    }
}

/**
 * Editor Styles Only
 */
[data-type="custom/grid-columns"] {
    &.is-selected {
        .grid-columns-block__row {
            margin-top: initial;
        }
    }
}
