/**
 * Buttons
 */

$theme-colors: (
    'primary': var(--custom-primary-color),
    'secondary': var(--custom-secondary-color),
    'tertiary': var(--custom-tertiary-color),
    'success': var(--custom-success-color),
    'info': var(--custom-info-color),
    'warning': var(--custom-warning-color),
    'danger': var(--custom-danger-color),
    'light': var(--custom-light-color),
    'dark': var(--custom-dark-color),
);

$theme-dark-colors: (
    'primary': var(--custom-primary-dark-color),
    'secondary': var(--custom-secondary-dark-color),
    'tertiary': var(--custom-tertiary-dark-color),
    'success': var(--custom-success-dark-color),
    'info': var(--custom-info-dark-color),
    'warning': var(--custom-warning-dark-color),
    'danger': var(--custom-danger-dark-color),
    'light': var(--custom-light-dark-color),
    'dark': var(--custom-dark-dark-color)
);

.btn {
    //min-height: var(--custom-form-height);

    &-light {
        color: rgb(var(--custom-dark-color));

        &:hover {
            color: rgb(var(--custom-dark-color));
        }
    }
}

@each $color, $value in $theme-colors {
    .btn-#{$color} {
        background-color: rgb($value);
        border-color: rgb($value);

        &:disabled {
            background-color: rgb($value);
            border-color: rgb($value);
        }
    }
}

@each $color, $value in $theme-dark-colors {
    .btn-#{$color} {
        &:hover {
            background-color: rgb($value);
            border-color: rgb($value);
        }

        &:focus {
            background-color: rgb($value);
            border-color: rgb($value);
            box-shadow: 0 0 0 0.25rem rgba($value, 0.3);

            &:active {
                box-shadow: 0 0 0 0.25rem rgba($value, 0.3);
            }
        }
    }
}
