.wrapper-block {
    display: flex;

    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 100%;
        padding: 1rem;

        &.align {
            &-right {
                border-right: 0;
            }

            &-left {
                border-left: 0;
            }
        }

        &:after {
            display: none;
        }
    }
}

/**
 * Editor Only
 */
.wrapper-block {
    .wp-block, .block-list-appender {
        width: 100%;
    }
}
