
/**
 * Frontend
 */
#app {
    .wrapper-block {
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

.wrapper-block {
    display: flex;

    &__inner {
        display: inline-block;
        position: relative;
        max-width: 100%;

        &.align {
            &-right {
                border-right: 0;
            }

            &-left {
                border-left: 0;
            }
        }

        &:after {
            display: none;
        }
    }
}
