
/**
 * Frontend
 */
#app {
    .wrapper-block {
        display: flex;
        flex-direction: column;
        position: relative;
    }
}

.wrapper-block {
    display: flex;

    &__inner {
        display: inline-block;
        position: relative;
        //border-left: 1px dashed var(--wp-admin-theme-color);
        //border-right: 1px dashed var(--wp-admin-theme-color);
        max-width: 100%;

        &.align {
            &-right {
                border-right: 0;
            }

            &-left {
                border-left: 0;
            }
        }

        &:after {
            display: none;
        }
    }

    //&.is-selected {
    //    .wrapper-block__inner {
    //        border: none;
    //        box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
    //    }
    //}
}
