.wrapper-block {
    display: flex;

    &__inner {
        display: inline-block;
        position: relative;
        max-width: 100%;
        padding: 1rem;

        &.align {
            &-right {
                border-right: 0;
            }

            &-left {
                border-left: 0;
            }
        }

        &:after {
            display: none;
        }
    }
}
