/**
 * Only on Frontend
 */
#app {
    .wp-block-columns {
        @extend .row;
        // margin-bottom: 0;

        .wp-block-column {
            @extend .col;

            @include media-breakpoint-down(lg) {
                flex-basis: 50% !important;
            }

            @include media-breakpoint-down(sm) {
                flex-basis: 100% !important;
            }
        }
    }
}
