.wp-block-group {
    padding: 0;

    &__inner-container {
        @extend .container;
        padding-top: var(--custom-vertical-spacing, 2rem);
        padding-bottom: var(--custom-vertical-spacing, 2rem);
    }

    &.has-background:not(.alignfull) {
        box-shadow: var(--custom-box-shadow);
    }

    &:not(.has-background) {
        .wp-block-group__inner-container {
            padding: 0;
            margin-top: var(--custom-vertical-spacing, 2rem);
            margin-bottom: var(--custom-vertical-spacing, 2rem);
        }
    }
}

[data-align="full"] {
    .wp-block-group {
        &.has-background {
            box-shadow: none;
        }
    }
}
