.wrapper-block {
    display: flex;

    &__inner {
        max-width: 100%;
        min-height: 20px;

        &.align {
            &-right {
                border-right: 0;
            }

            &-left {
                border-left: 0;
            }
        }

        &:after {
            display: none;
        }
    }
}

/**
 * App Only
 */
#app {
    .wrapper-block {
        &__inner {
            display: flex;
            flex-direction: column;
            position: relative;
        }
    }
}


/**
 * Editor Only
 */
//.wrapper-block {
//    .wp-block, .block-list-appender {
//        width: 100%;
//    }
//}
