.icon-text-block {
    //margin-bottom: 2rem;

    &__inner {
        display: flex;
        margin-bottom: 1rem;
    }

    &__text {
        margin-left: 1rem;
        //width: 100%;

        *:last-child {
            margin: 0;
        }
    }

    &.image-top-on-mobile {
        .icon-text-block {
            @include media-breakpoint-down(sm) {
                &__inner {
                    flex-direction: column;

                    img  {
                        margin-bottom: 1rem;
                    }
                }

                &__text {
                    margin-left: 0 !important;
                }
            }
        }
    }
}
