@import "~vanilla-cookieconsent/dist/cookieconsent.css";

// Cookie Consent Container
#cm {
    font-size: var(--custom-font-size);
    font-weight: var(--custom-font-weight);
    font-family: var(--custom-text-font-family);
    border-radius: var(--custom-border-radius);
    box-shadow: var(--custom-box-shadow);

    &[role="dialog"] {
        padding: 25px; // Custom Cookie Padding!
    }

    // Cookie Consent Inner
    #c-inr {
        display: flex;
        align-items: flex-start;
        max-width: var(--max-container-width);

        // Cookie Consent Title
        #c-ttl {
            //font-size: var(--custom-font-size);
            //color: rgba(var(--custom-font-color));
            @extend h5;
            font-weight: 500;
        }

        // Cookie Consent TExt
        #c-txt {
            font-size: var(--custom-font-size);
            color: rgba(var(--custom-font-color));
        }
    }

    // Buttons
    #c-bns {
        color: rgba(var(--custom-font-color));
        display: flex;
        min-width: initial;
        margin-left: auto;

        button {
            @extend .btn;
            width: auto;

            &.c-bn {
                // Accept
                &#c-p-bn {
                    @extend .btn-primary;
                    margin: 0 0 1rem 1rem;
                }

                // Decline
                &#c-s-bn {
                    @extend .btn-secondary;
                    margin: 0 0 1rem 1rem;
                }
            }
        }
    }

    // Styles
    &.box {
        #c-inr {
            flex-direction: column;
        }
    }

    &.cloud {
        max-width: var(--max-container-width);
        left: var(--container-padding-mobile);
        right: var(--container-padding-mobile);

        @include media-breakpoint-up(sm) {
            left: var(--container-padding-desktop);
            right: var(--container-padding-desktop);
        }

        @include media-breakpoint-down(sm) {
            #c-inr {
                flex-direction: column;
            }
        }
    }

    &.bar {
        #c-inr {

        }
    }
}


// Cookie Settings Container
#s-inr {

}

// Settings Link
button[data-cc="c-settings"] {
    @extend a;
}
