#cookie-law-info-bar {
    box-shadow: var(--custom-box-shadow);
    border-radius: var(--custom-border-radius);
    font-weight: var(--custom-font-weight);
    font-size: var(--custom-font-size);
    color: rgb(var(--custom-font-color));

    // lowl
    background-color: rgb(255, 255, 255);
    color: rgb(108, 108, 108);
    font-family: inherit;
    bottom: 0px;
    position: fixed;
    display: block;
}

// Cookie Settings Modal
.cli-modal {
    &-content {
        box-shadow: var(--custom-box-shadow);
        border-radius: var(--custom-border-radius);
        font-weight: var(--custom-font-weight);
        //font-size: var(--custom-font-size);
        //color: rgb(var(--custom-font-color));
    }


}

.cli-modal-backdrop {

}

// Cookie Law Info Buttons
#wt-cli-privacy-save-btn,
#cookie-law-info-bar a[role='button'] {
    @extend .btn;
    display: inline-flex;
    align-items: center;
}

#cliModalClose {

}
