@import "~vanilla-cookieconsent/dist/cookieconsent.css";

/** Light color-scheme **/
:root{
    --cc-bg: #fff;
    --cc-text: #2d4156;

    --cc-btn-primary-bg: #2d4156;
    --cc-btn-primary-text: var(--cc-bg);
    --cc-btn-primary-hover-bg: #1d2e38;

    --cc-btn-secondary-bg: #eaeff2;
    --cc-btn-secondary-text: var(--cc-text);
    --cc-btn-secondary-hover-bg: #d8e0e6;


    --cc-toggle-bg-off: #919ea6;
    --cc-toggle-bg-on: var(--cc-btn-primary-bg);
    --cc-toggle-bg-readonly: #d5dee2;

    --cc-toggle-knob-bg: #fff;
    --cc-toggle-knob-icon-color: #ecf2fa;

    --cc-block-text: var(--cc-text);
    --cc-cookie-category-block-bg: #f0f4f7;
    --cc-cookie-category-block-bg-hover: #e9eff4;
    --cc-section-border: #f1f3f5;
    --cc-cookie-table-border: #e9edf2;
    --cc-overlay-bg: rgba(4, 6, 8, .85);
    --cc-webkit-scrollbar-bg: #cfd5db;
    --cc-webkit-scrollbar-bg-hover: #9199a0;
}

// Cookie Consent Container
#cc_div {
    font-size: var(--custom-font-size);
    font-weight: var(--custom-font-weight);
    font-family: var(--custom-text-font-family);
}

#cm {
    border-radius: var(--custom-border-radius);
    box-shadow: var(--custom-box-shadow);
    bottom: var(--container-padding-mobile);
    background-color: rgba(var(--custom-cookie-background-color));

    &[role="dialog"] {
        padding: var(--custom-cookie-consent-padding);
    }

    &.right {
        left: auto;
        right: var(--container-padding-mobile);
        margin-left: var(--container-padding-mobile);
    }

    &.left {
        right: auto;
        left: var(--container-padding-mobile);
        margin-right: var(--container-padding-mobile);
    }

    &.top {
        bottom: auto;
        top: var(--container-padding-mobile);
    }

    &.bottom {
        top: auto;
        bottom: var(--container-padding-mobile);
    }

    @include media-breakpoint-up(sm) {
        bottom: var(--container-padding-desktop);

        &.right {
            right: var(--container-padding-desktop);
            margin-left: var(--container-padding-desktop);
        }

        &.left {
            left: var(--container-padding-desktop);
            margin-right: var(--container-padding-desktop);
        }

        &.top {
            top: var(--container-padding-desktop);
        }

        &.bottom {
            bottom: var(--container-padding-desktop);
        }
    }

    // Cookie Consent Inner
    #c-inr {
        display: flex;
        align-items: flex-start;
        max-width: var(--max-container-width);

        // Cookie Consent Title
        #c-ttl {
            @extend h5;
            font-weight: 500;
            color: rgba(var(--custom-cookie-font-color));
        }

        // Cookie Consent TExt
        #c-txt {
            font-size: var(--custom-font-size);
            color: rgba(var(--custom-cookie-font-color));
            margin-bottom: 0;

            a, button {
                text-decoration: underline;
                color: rgba(var(--custom-cookie-link-color));

                &:hover {
                    color: rgba(var(--custom-cookie-link-hover-color));
                }

                strong {
                    font-weight: 500;
                }
            }
        }
    }

    // Buttons
    #c-bns {
        color: rgba(var(--custom-cookie-font-color));
        display: flex;
        min-width: initial;
        margin-left: auto;

        .c-bn {
            @extend .btn;
            width: auto;

            // Accept
            &#c-p-bn {
                @extend .btn-primary;
                margin: 0 0 1rem 1rem;
            }

            // Decline
            &#c-s-bn {
                @extend .btn-secondary;
                margin: 0 0 1rem 1rem;
            }
        }
    }

    // Styles
    &.box {
        #c-inr {
            flex-direction: column;

            #c-bns {
                .c-bn {
                    margin: 1rem 0 0 1rem;
                }
            }
        }
    }

    &.cloud {
        max-width: var(--max-container-width);
        left: var(--container-padding-mobile);
        right: var(--container-padding-mobile);

        @include media-breakpoint-down(md) {
            #c-inr {
                flex-direction: column;

                #c-bns {
                    .c-bn {
                        margin: 1rem 0 0 1rem;
                    }
                }
            }
        }

        &.right {
            margin-left: var(--container-padding-mobile);
            right: var(--container-padding-mobile);
            left: auto;
        }

        &.left {
            margin-right: var(--container-padding-mobile);
            left: var(--container-padding-mobile);
            right: auto;
        }

        @include media-breakpoint-up(sm) {
            left: var(--container-padding-desktop);
            right: var(--container-padding-desktop);

            &.right {
                margin-left: var(--container-padding-desktop);
                right: var(--container-padding-desktop);
            }

            &.left {
                margin-right: var(--container-padding-desktop);
                left: var(--container-padding-desktop);
            }
        }
    }

    &.bar {
        #c-inr {
            max-width: var(--max-container-width);
        }

        &.top {
            top: 0;
        }

        &.bottom {
            bottom: 0;
        }

        @include media-breakpoint-down(md) {
            #c-inr {
                flex-direction: column;

                #c-bns {
                    .c-bn {
                        margin: 1rem 0 0 1rem;
                    }
                }
            }
        }
    }
}


// Cookie Settings Container
#s-cnt {

    #s-ttl {
        @extend h5;
        font-weight: 500;
        color: rgba(var(--custom-cookie-font-color));
    }

    // Settings Button Container
    #s-bns {
        height: auto;

        .c-bn {
            @extend .btn;
            width: auto;
        }

        #s-all-bn {
            @extend .btn-primary;
        }

        #s-rall-bn {
            @extend .btn-secondary;
        }

        #s-sv-bn {
            @extend .btn-secondary;
        }
    }

    // Settings Inner
    #s-inr {
        border-radius: var(--custom-border-radius);
        box-shadow: var(--custom-box-shadow);
        background-color: rgba(var(--custom-cookie-background-color));
        display: flex;
        flex-direction: column;
        padding: 0;

        #s-hdr {
            position: initial;
            height: initial;
            background-color: transparent;
            border-color: rgba(var(--custom-cookie-background-highlight-color));
            padding: var(--custom-cookie-consent-padding);

            #s-c-bnc {

                #s-c-bn {
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @extend .custom-icon;
                    @extend .icon-close;

                    &:before {
                        transform: initial;
                        background-color: transparent;
                        position: initial;
                        left: initial;
                        top: initial;
                        height: initial;
                        width: initial;
                        font-size: 2rem;
                    }

                    &:after {
                        display: none;
                    }

                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }

        #s-bl {
            padding: var(--custom-cookie-consent-padding);
            background-color: transparent;

            &::-webkit-scrollbar,
            &::-webkit-scrollbar-thumb,
            &::-webkit-scrollbar-thumb:hover,
            &::-webkit-scrollbar-button {
                display: none;
            }

            .b-ex {
                background-color: rgba(var(--custom-cookie-background-highlight-color));
            }
        }

        #s-bns {
            position: initial;
            background-color: transparent;
            border-color: rgba(var(--custom-cookie-background-highlight-color));
            padding: var(--custom-cookie-consent-padding);
        }
    }
}
