.footer {
    background-color: rgb(var(--custom-footer-background-color));
    color: rgb(var(--custom-footer-font-color));
    padding-top: var(--custom-vertical-spacing-desktop, 3rem);
    padding-bottom: var(--custom-vertical-spacing-desktop, 3rem);
    position: relative;
    flex: 1;

    @include media-breakpoint-down(sm) {
        padding-top: var(--custom-vertical-spacing-mobile, 1.5rem);
        padding-bottom: var(--custom-vertical-spacing-mobile, 1.5rem);
    }

    a {
        color: rgb(var(--custom-footer-link-color));

        &:hover {
            color: rgb(var(--custom-footer-link-hover-color));
        }
    }
}
