.footer {
    background-color: rgb(var(--custom-footer-background-color));
    color: rgb(var(--custom-footer-font-color));
    padding-top: var(--custom-block-spacing);
    padding-bottom: var(--custom-block-spacing);
    margin-top: auto;

    a {
        color: rgb(var(--custom-footer-link-color));

        &:hover {
            color: rgb(var(--custom-footer-link-hover-color));
        }
    }
}
