.footer {
    background-color: rgb(var(--custom-footer-background-color));
    color: rgb(var(--custom-footer-font-color));
    padding-top: var(--custom-vertical-spacing-desktop, 2rem);
    padding-bottom: var(--custom-vertical-spacing-desktop, 2rem);
    //margin-top: auto;
    position: relative;
    flex: 1;

    a {
        color: rgb(var(--custom-footer-link-color));

        &:hover {
            color: rgb(var(--custom-footer-link-hover-color));
        }
    }
}
