.sub-menu-class {
    list-style: none;
    position: absolute;
    background-color: var(--custom-menu-background-color);
    border-radius: var(--custom-border-radius);
    box-shadow: var(--custom-box-shadow);
    bottom: -30px;
    transform: translateY(100%);
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, bottom .2s ease-in-out;
    white-space: nowrap;
    min-width: 180px;

    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 20px;
        top: -20px;
    }

    &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: -16px;
        left: 50%;
        transform: translateX(-50%);
        border: 8px solid transparent;
        border-bottom-color: var(--custom-menu-background-color);
        pointer-events: none;
    }
}

.navigation {
    z-index: 100;
    width: 100%;

    &.is-transparent {

        .navigation__inner {
            background-color: transparent;
        }

        .navigation__desktop {
            > .menu-item {
                > a, > a:hover {
                    background-color: transparent;
                }
            }
        }
    }

    &__logo-wrapper {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--custom-menu-icon-wrapper-width);

        img {
            object-fit: contain;
            height: var(--custom-menu-icon-size);
            width: 100%;
        }
    }

    &__business-hours {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        padding: 5px var(--custom-menu-item-spacing);
        font-weight: var(--custom-menu-font-weight);
        position: relative;

        &__headline {
            line-height: 1.25rem;
            color: var(--custom-menu-link-color);
            opacity: 0.7;
        }

        &__wrapper {
            display: flex;
            font-weight: 500;
            align-items: center;
            line-height: 1.25rem;
            color: var(--custom-menu-link-color);

            i {
                font-size: 1rem;
                font-weight: 600;
                transition: transform .2s ease-in-out;
            }

            &.is-open {
                color: var(--color-success);

                i {
                    color: var(--color-success);
                }
            }
        }

        &.active {
            i {
                transform: rotate(-180deg);
            }

            .business-hours-template {
                opacity: 1;
                visibility: visible;
                bottom: -20px;
                color: var(--custom-submenu-link-color);
            }
        }

        .business-hours-template {
            @extend .sub-menu-class;
            left: 0;
            padding: 0.5rem 0;
            color: var(--custom-menu-link-color);

            &:after {
                left: calc(var(--custom-menu-item-spacing) + 1rem);
            }

            &__wrapper {
                display: flex;
                padding: 3px var(--custom-menu-item-spacing);
            }

            &__day {
                font-weight: 500;
                width: 50px;
                display: inline-block;
            }

            &__time {

                .active {
                    color: var(--color-success);
                }

                &:last-child {
                    &:after {
                        content: '';
                        display: none;
                    }
                }

                &:after {
                    margin: 0 10px;
                    content: '|';
                }
            }
        }
    }
}

.navigation {
    // Only This Navigation Version
    position: absolute;
    top: 30px;

    &__inner {
        height: var(--custom-menu-height);
        background-color: var(--custom-menu-background-color);
        display: flex;
    }

    &.primary-is-centered {
        .navigation__desktop {
            &--primary {
                margin: 0 auto;
            }

            &--secondary {
                margin-left: initial;
            }
        }
    }

    .menu-item {
        position: relative;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-decoration: none;
            padding: 5px var(--custom-menu-item-spacing);
            font-size: var(--custom-menu-font-size);
            font-weight: var(--custom-menu-font-weight);
            color: var(--custom-menu-link-color);
            border-radius: var(--custom-border-radius);
            min-height: 40px;
        }

        a {
            &:hover {
                color: var(--custom-menu-link-active-color);
                background-color: var(--custom-menu-link-active-background-color);
            }
        }

        &.current-menu-item {
            a {
                color: var(--custom-menu-link-active-color);
                background-color: var(--custom-menu-link-active-background-color);
            }
        }

        &.menu-item-has-children {
            &.active {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    bottom: -20px;
                }
            }
        }
    }

    .sub-menu {
        @extend .sub-menu-class;
        left: 0;

        &:after {
            left: calc(var(--custom-menu-item-spacing) + 1rem);
        }

        .menu-item {
            a {
                max-height: 50px;
                height: var(--custom-menu-height);
                color: var(--custom-submenu-link-color);

                &:hover {
                    color: var(--custom-submenu-link-active-color);
                }
            }
        }
    }

    &__desktop {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        height: 100%;

        > .menu-item {
            display: flex;
            align-items: center;
            justify-content: center;

            &:after {
                position: absolute;
                right: 0;
                transform: translateX(50%);
                z-index: 100;
                font-size: var(--custom-menu-font-size);
                font-weight: var(--custom-menu-font-weight);
                color: var(--custom-menu-link-color);
            }
        }

        &--primary {
            &.centered {
                margin: 0 auto;
            }
        }

        &--secondary {
            margin-left: auto;
        }
    }

    &__mobile {
        @extend .sub-menu-class;
        right: 0;

        &:after {
            left: initial;
            right: var(--custom-menu-item-spacing);
        }

        .menu-item {
            a {
                color: var(--custom-submenu-link-active-color);

                &:hover {
                    color: var(--custom-submenu-link-active-color);
                }
            }

            &.current-menu-item {
                a {
                    color: var(--custom-submenu-link-active-color);
                    //background-color: var(--custom-menu-link-active-background-color);
                }
            }
        }

        &__wrapper {
            align-items: center;
            justify-content: center;
            margin-left: auto;
            padding: 0 1rem;
            cursor: pointer;
            position: relative;

            .icon-menu {
                font-size: 2.25rem;
                color: var(--custom-menu-link-color);
            }

            &.active {
                .navigation__mobile {
                    opacity: 1;
                    visibility: visible;
                    bottom: -20px;
                }
            }
        }
    }
}
