.sub-menu-class {
    list-style: none;
    position: absolute;
    background-color: var(--custom-navbar-submenu-background-color);
    border-radius: var(--custom-border-radius);
    box-shadow: var(--custom-box-shadow);
    bottom: -30px;
    transform: translateY(100%);
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, bottom .2s ease-in-out;
    white-space: nowrap;
    min-width: 180px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-decoration: none;
        padding: 5px var(--custom-navbar-item-spacing);
        color: var(--custom-navbar-submenu-font-color);
        min-height: 35px;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        bottom: -20px;
    }

    //&:before {
    //    content: "";
    //    display: block;
    //    position: absolute;
    //    width: 100%;
    //    height: 20px;
    //    top: -20px;
    //}

    //&:after {
    //    content: "";
    //    display: block;
    //    width: 0;
    //    height: 0;
    //    position: absolute;
    //    top: -16px;
    //    left: 50%;
    //    transform: translateX(-50%);
    //    border: 8px solid transparent;
    //    border-bottom-color: var(--custom-navbar-submenu-background-color);
    //    pointer-events: none;
    //}
}

.navbar {
    z-index: 100;
    width: 100%;
    position: var(--custom-navbar-position);
    top: var(--custom-navbar-top-position);
    font-size: var(--custom-navbar-font-size);
    font-weight: var(--custom-navbar-font-weight);

    &.set-to-top {
        background-color: var(--custom-navbar-background-color);
        box-shadow: var(--custom-navbar-box-shadow);

        .navbar__inner  {
            box-shadow: none;
        }
    }

    &__inner {
        height: var(--custom-navbar-height);
        background-color: var(--custom-navbar-background-color);
        border-radius: var(--custom-border-radius);
        display: flex;
        box-shadow: var(--custom-navbar-box-shadow);
    }

    &__logo-wrapper {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--custom-navbar-logo-wrapper-width);

        img {
            object-fit: contain;
            height: var(--custom-navbar-logo-height);
            width: 100%;
        }
    }

    &__menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        height: 100%;

        > .menu-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &:after {
                position: absolute;
                right: 0;
                transform: translateX(50%);
                z-index: 100;
                color: var(--custom-navbar-font-color);
            }

            > a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                text-decoration: none;
                padding: 5px var(--custom-navbar-item-spacing);
                color: var(--custom-navbar-font-color);
                min-height: 35px;

                &:hover {
                    color: var(--custom-navbar-font-active-color);
                    background-color: var(--custom-navbar-font-active-background-color);
                }
            }

            &.current-menu-item {
                > a {
                    color: var(--custom-navbar-font-active-color);
                    background-color: var(--custom-navbar-font-active-background-color);
                }
            }

            .sub-menu {
                @extend .sub-menu-class;
            }
        }
    }

    &__burger-menu-icon-wrapper {
        align-items: center;
        justify-content: center;
        padding: 5px var(--custom-navbar-item-spacing);
        cursor: pointer;
        position: relative;
    }

    &__burger-menu-icon {
        font-size: 2.25rem;
        color: var(--custom-navbar-font-color);
    }

    &__primary-mobile-menu {
        @extend .sub-menu-class;
    }
}

// Business Hours Template
.navbar__business-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 5px var(--custom-navbar-item-spacing);
    //font-weight: var(--custom-menu-font-weight);
    position: relative;


    &__headline {
        line-height: 1.25rem;
        color: var(--custom-navbar-font-color);
        opacity: 0.7;
    }

    &__wrapper {
        display: flex;
        font-weight: 500;
        align-items: center;
        line-height: 1.25rem;
        color: var(--custom-navbar-font-color);

        i {
            font-size: 1rem;
            font-weight: 600;
            transition: transform .2s ease-in-out;
        }

        &.is-open {
            color: var(--custom-success-color);

            i {
                color: var(--custom-success-color);
            }
        }
    }

    &:hover {
        i {
            transform: rotate(-180deg);
        }
    }

    .business-hours-template {
        @extend .sub-menu-class;
        left: 0;
        padding: 0.5rem 0;
        color: var(--custom-navbar-font-color);

        &:after {
            left: calc(var(--custom-navbar-item-spacing) + 1rem);
        }

        &__wrapper {
            display: flex;
            padding: 3px var(--custom-navbar-item-spacing);
        }

        &__day {
            font-weight: 500;
            width: 50px;
            display: inline-block;
        }

        &__time {

            .active {
                color: var(--custom-success-color);
            }

            &:last-child {
                &:after {
                    content: '';
                    display: none;
                }
            }

            &:after {
                margin: 0 10px;
                content: '|';
            }
        }
    }
}
