.popper-wrapper {
    position: fixed;
    visibility: hidden;
    padding-top: 20px;

    &.active {
        visibility: visible;

        .sub-menu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);

        }
    }

    .popper-arrow {
        top: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent rgb(var(--custom-navbar-submenu-background-color)) transparent;
    }
}

.sub-menu {
    list-style: none;
    background-color: rgb(var(--custom-navbar-submenu-background-color));
    border-radius: var(--custom-border-radius);
    box-shadow: var(--custom-navbar-box-shadow);
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out, transform .2s ease-in-out;
    white-space: nowrap;
    min-width: 200px;

    &__inner {
        border-radius: var(--custom-border-radius);
        list-style: none;
        overflow: hidden;
        padding: 0;
    }

    .menu-item {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-decoration: none;
            padding: 5px var(--custom-navbar-item-spacing);
            color: rgb(var(--custom-navbar-submenu-font-color));
            min-height: var(--custom-navbar-submenu-item-height);

            &:hover {
                background-color: rgb(var(--custom-navbar-submenu-background-active-color));
            }
        }

        &.current-menu-item {
            a {
                background-color: rgb(var(--custom-navbar-submenu-background-active-color));
            }
        }
    }
}

.navbar {
    z-index: 100;
    width: 100%;
    position: var(--custom-navbar-position);
    top: var(--custom-navbar-top-position);
    font-size: var(--custom-navbar-font-size);
    font-weight: var(--custom-navbar-font-weight);

    &.set-to-top {
        background-color: rgb(var(--custom-navbar-background-color));
        box-shadow: var(--custom-navbar-box-shadow);

        .navbar__inner  {
            box-shadow: none;
        }
    }

    &__inner {
        height: var(--custom-navbar-height);
        background-color: rgb(var(--custom-navbar-background-color));
        border-radius: var(--custom-border-radius);
        display: flex;
        box-shadow: var(--custom-navbar-box-shadow);
        position: relative;
        overflow: hidden;
    }

    &__logo-wrapper {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--custom-navbar-logo-wrapper-width);

        img {
            object-fit: contain;
            height: var(--custom-navbar-logo-height);
            width: 100%;
        }
    }

    &__menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        height: 100%;

        > .menu-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &:after {
                position: absolute;
                right: 0;
                transform: translateX(50%);
                z-index: 100;
                color: rgb(var(--custom-navbar-font-color));
            }

            > a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                text-decoration: none;
                padding: 5px var(--custom-navbar-item-spacing);
                color: rgb(var(--custom-navbar-font-color));
                min-height: 35px;

                &:hover {
                    color: rgb(var(--custom-navbar-font-active-color));
                    background-color: rgb(var(--custom-navbar-font-active-background-color));
                }
            }

            &.current-menu-item {
                > a {
                    color: rgb(var(--custom-navbar-font-active-color));
                    background-color: rgb(var(--custom-navbar-font-active-background-color));
                }
            }
        }
    }

    &__burger-menu-icon-wrapper {
        align-items: center;
        justify-content: center;
        padding: 5px var(--custom-navbar-item-spacing);
        cursor: pointer;
        position: relative;
    }

    &__burger-menu-icon {
        font-size: 2.25rem;
        color: rgb(var(--custom-navbar-font-color));
    }

    //&__primary-mobile-menu {
    //    @extend .sub-menu-class;
    //}
}

// Business Hours Template
.navbar__business-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 5px var(--custom-navbar-item-spacing);
    //font-weight: var(--custom-menu-font-weight);
    //position: relative;


    &__headline {
        line-height: 1.25rem;
        color: rgb(var(--custom-navbar-font-color));
        opacity: 0.7;
    }

    &__wrapper {
        display: flex;
        font-weight: 500;
        align-items: center;
        line-height: 1.25rem;
        color: rgb(var(--custom-navbar-font-color));

        i {
            font-size: 1rem;
            font-weight: 600;
            transition: transform .2s ease-in-out;
        }

        &.is-open {
            color: rgb(var(--custom-success-color));

            i {
                color: rgb(var(--custom-success-color));
            }
        }
    }

    &:hover {
        i {
            transform: rotate(-180deg);
        }
    }

    .business-hours-template {
        //@extend .sub-menu-class;
        left: 0;
        padding: 0.5rem 0;
        color: rgb(var(--custom-navbar-font-color));

        &:after {
            left: calc(var(--custom-navbar-item-spacing) + 1rem);
        }

        &__wrapper {
            display: flex;
            align-items: center;
            padding: 3px var(--custom-navbar-item-spacing);
            min-height: calc(var(--custom-navbar-submenu-item-height) * 0.8);
        }

        &__day {
            font-weight: 500;
            width: 50px;
            display: inline-block;
        }

        &__time {

            .active {
                color: rgb(var(--custom-success-color));
            }

            &:last-child {
                &:after {
                    content: '';
                    display: none;
                }
            }

            &:after {
                margin: 0 10px;
                content: '|';
            }
        }
    }
}
