.section-block {
    display: flex;
    flex-direction: column;
    position: relative;

    &__inner {
        @extend .container;
        padding-top: var(--custom-block-spacing, 2rem);
        padding-bottom: var(--custom-block-spacing, 2rem);
    }
}

main > .section-block {
    &:not(.has-background) {
        .section-block__inner {
            padding: 0;
            margin-top: var(--custom-block-spacing, 2rem);
            margin-bottom: var(--custom-block-spacing, 2rem);
        }
    }
}

.clip-path-svg {
    position: absolute;
}

.section-shape {
    height: 100px;
    width: 100%;
    position: absolute;

    &.shape-none {
        display: none;
    }

    &.shape-top {
        top: -1px;
    }

    &.shape-bottom {
        transform: rotateX(180deg) rotateY(-180deg);
        bottom: -1px;
    }

    &.shape-inverted {
        transform: rotateY(-180deg);

        &.shape-bottom {
            transform: rotateX(180deg) rotateY(-360deg);
        }
    }
}
