.section-block {
    &__inner {
        @extend .container;
        padding-top: var(--custom-block-spacing, 2rem);
        padding-bottom: var(--custom-block-spacing, 2rem);
    }
}

main > .section-block {
    &:not(.has-background) {
        .section-block__inner {
            padding-top: 0;
            padding-bottom: 0;
            margin-top: var(--custom-block-spacing, 2rem);
            margin-bottom: var(--custom-block-spacing, 2rem);
        }
    }
}

.clip-path-svg {
    position: absolute;
}

