.image-wrapper {
    width: var(--width, 100%);

    img {
        object-fit: cover;
        height: 100%;
    }
}

.has-fluid-width {
    $min-value: var(--width-mobile);
    $max-value: var(--width-desktop);
    $min-max-value: var(--width-difference);

    $min-vw: map-get($grid-breakpoints, xs);
    $max-vw: map-get($grid-breakpoints, xl);

    width: #{$min-value};

    @media screen and (min-width: $min-vw) {
        width: calc(#{$min-value} + #{$min-max-value} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }

    @media screen and (min-width: $max-vw) {
        width: #{$max-value};
    }
}
