/**
 * Frontend & Editor
 */
.grid-list-block {

    &__row {
        display: flex;
        flex-wrap: wrap;
        @extend .row;
    }

    &__col {
        display: flex;
    }

    &__inner {
        height: 100%;
        width: 100%;
        display: flex;
        margin: 0;
        padding: var(--grid-list-inner-spacing);
        position: relative;
    }

    &__wrapper {
        width: 100%;
    }

    .block-list-appender {
        width: initial;
    }
}

[data-columns="1"] {
    @include row-cols(1);
}

[data-columns="2"] {
    @include row-cols(2);
}

[data-columns="3"] {
    @include row-cols(3);
}

[data-columns="4"] {
    @include row-cols(4);
}

[data-columns="5"] {
    @include row-cols(5);
}

[data-columns="6"] {
    @include row-cols(6);
}

[data-columns="5"],
[data-columns="6"] {
    @include media-breakpoint-down(xxl) {
        @include row-cols(4);
    }
}

[data-columns="4"],
[data-columns="5"],
[data-columns="6"] {
    @include media-breakpoint-down(xl) {
        @include row-cols(3);
    }
}

[data-columns="3"],
[data-columns="4"],
[data-columns="5"],
[data-columns="6"] {
    @include media-breakpoint-down(lg) {
        @include row-cols(2);
    }
}


[data-columns="2"],
[data-columns="3"],
[data-columns="4"],
[data-columns="5"],
[data-columns="6"] {
    &:not(.two-columns-mobile) {
        @include media-breakpoint-down(md) {
            @include row-cols(1);
        }
    }
}

/**
 * Editor Styles Only
 */
[data-type="custom/grid-list"] {
    &.is-selected {
        .grid-list-block__row {
            margin-top: initial;
        }
    }
}
