.divider-block {

    &__hr {
        margin: 0 auto;
        width: 100%;
    }

    $min-value: var(--divider-spacing-mobile);
    $max-value: var(--divider-spacing-desktop);
    $min-max-value: var(--divider-spacing-desktop-mobile);
    $min-vw: map-get($grid-breakpoints, xs);
    $max-vw: map-get($grid-breakpoints, xl);

    margin-top: #{$min-value};
    margin-bottom: #{$min-value};

    @media screen and (min-width: $min-vw) {
        margin-top: calc(#{$min-value} + #{$min-max-value} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        margin-bottom: calc(#{$min-value} + #{$min-max-value} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }

    @media screen and (min-width: $max-vw) {
        margin-top: #{$max-value};
        margin-bottom: #{$max-value};
    }
}
