.slider-block {
    position: relative;

    .swiper-container {
        padding-bottom: 1px;
    }

    &__inner {
        position: relative;
    }

    &__container {
        @extend .row-margin;
    }

    &__slides-wrapper {
        display: flex;
        flex-wrap: initial;
        cursor: grab;

        > .block-list-appender {
            position: relative;
            right: 65px;
        }
    }

    &__slide {
        @extend .col-padding;
        height: auto;
        display: flex;
        min-height: 20px;
    }

    &__slide-inner {
        position: relative;
        height: 100%;
        width: 100%;
    }

    &.controls-offset {
        &.arrows-top,
        &.pagination-top {
            padding-top: calc(var(--slider-controls-size, 42px) + 10px);
        }

        &.arrows-bottom,
        &.pagination-bottom {
            padding-bottom: calc(var(--slider-controls-size, 42px) + 10px);
        }

        /**
         * Editor Styles
         * TODO: Declare Editor Styles
         */
        .swiper-pagination {
            pointer-events: initial;
        }
    }

    &.two-slides-on-mobile {
        $slides: 1, 2, 3, 4;
        @each $slide in $slides {
            &[data-slides-per-view="#{$slide}"] {
                .slider-block__slide {
                    @if $slide == 2 {
                        @include media-breakpoint-down(sm) {
                            width: calc(100% / #{$slide});
                        }

                        @include media-breakpoint-down(xs) {
                            width: calc(100% / #{$slide - 1});
                        }
                    }

                    @if $slide == 3 {
                        @include media-breakpoint-down(sm) {
                            width: calc(100% / #{$slide - 1});
                        }

                        @include media-breakpoint-down(xs) {
                            width: calc(100% / #{$slide - 2});
                        }
                    }

                    @if $slide == 4 {
                        @include media-breakpoint-down(sm) {
                            width: calc(100% / #{$slide - 2});
                        }

                        @include media-breakpoint-down(xs) {
                            width: calc(100% / #{$slide - 3});
                        }
                    }
                }
            }
        }
    }

    // Interate trough slides
    $slides: 1, 2, 3, 4;
    @each $slide in $slides {
        &[data-slides-per-view="#{$slide}"] {
            .slider-block__slide {
                width: calc(100% / #{$slide});

                @if $slide == 2 {
                    @include media-breakpoint-down(sm) {
                        width: calc(100% / #{$slide - 1});
                    }
                }

                @if $slide == 3 {
                    @include media-breakpoint-down(md) {
                        width: calc(100% / #{$slide - 1});
                    }

                    @include media-breakpoint-down(sm) {
                        width: calc(100% / #{$slide - 2});
                    }
                }

                @if $slide == 4 {
                    @include media-breakpoint-down(lg) {
                        width: calc(100% / #{$slide - 1});
                    }

                    @include media-breakpoint-down(md) {
                        width: calc(100% / #{$slide - 2});
                    }

                    @include media-breakpoint-down(sm) {
                        width: calc(100% / #{$slide - 3});
                    }
                }
            }
        }
    }

    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;
        pointer-events: none;

        &__wrapper {
            position: absolute;
            width: 100%;
            display: flex;
            z-index: 10;
            height: calc(var(--slider-controls-size, 42px) + 10px);
        }

        &:not(.swiper-pagination-bullets-dynamic) {
            width: initial !important;
        }

        &.swiper-pagination-bullets-dynamic {
            left: 10px;
            position: relative;

            .swiper-pagination-bullet {
                opacity: 0;
                visibility: hidden;
                transform: scale(0.3);
                transition: opacity .2s ease-in-out, visibility .2s ease-in-out, left .2s ease-in-out;

                &-active-prev-prev, &-active-next-next {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(0.6);
                }

                &-active-prev, &-active-next {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }

                &-active {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }
            }
        }

        .swiper-pagination-bullet {
            width: calc(var(--slider-controls-size, 42px) / 3);
            min-width: calc(var(--slider-controls-size, 42px) / 3);
            height: calc(var(--slider-controls-size, 42px) / 3);
            margin: calc(var(--slider-controls-size, 42px) / 6);
            border-radius: 50%;
            background-color: rgba(var(--custom-controls-color), 0.3);
            position: relative;

            &-active {
                background-color: rgb(var(--custom-controls-color));
            }
        }
    }

    .swiper-arrows {
        display: flex;

        i {
            color: rgb(var(--custom-controls-color));
            font-size: var(--slider-controls-size, 42px);
        }

        &__wrapper {
            position: absolute;
            width: 100%;
            display: flex;
            z-index: 10;
            height: calc(var(--slider-controls-size, 42px) + 10px);
        }

        .swiper-button-prev {
            margin-right: calc(var(--slider-controls-size, 42px) / 2) ;
        }

        .swiper-button-next {
            margin-left: auto;
        }

        .swiper-button-prev, .swiper-button-next {
            cursor: pointer;
            opacity: 1;
            visibility: visible;
            transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
            display: flex;
            align-items: center;

            &.swiper-button-disabled {
                opacity: 0.3;
                cursor: initial;
            }
        }
    }
}
