.image-header-block {
    position: relative;
    overflow: hidden;

    &__image {
        position: absolute;
        width: 100%;
        max-width: initial;
        height: 100%;
        object-fit: cover;
        object-position: center;

        &.is-blurred {
            top: -13px;
            left: -13px;
            width: calc(100% + 26px);
            height: calc(100% + 26px);
        }
    }

    &__overlay {
        background-image: radial-gradient(at center top,hsla(0,0%,100%,.8) 20%,hsla(0,0%,100%,0) 80%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__container {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-down(sm) {
            transform: scale(0.7);
        }
    }

    &__text-wrapper {
        display: inline-block;
        position: relative;
    }

    &__logo {
        position: absolute;
        object-fit: contain;
        object-position: center;

        &.smaller-on-mobile {
            @include media-breakpoint-down(sm) {
                transform: scale(0.7);
            }
        }
    }

    .clip-path-svg {
        position: absolute;
    }
}
